@model IEnumerable<WebInfos.Model.TbEvento>

@{
    ViewData["Title"] = "Eventos";
}

<h1 class="text-center"> Eventos </h1>

<p>
    <a type="button" class="btn btn-primary btn-sm" asp-action="Criar">Registrar</a>
</p>
<hr/>
<table class="table table-bordered text-center">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEve)
                </td>
                <td class="table-active">  
                    @Html.DisplayFor(modelItem => item.Evento)
                </td>
                <td>                   
                    <a asp-action="Editar" asp-route-id="@item.IdEve" type="button" class="btn btn btn-warning"> Editar </a>
                    <a asp-action="Deletar" asp-route-id="@item.IdEve" type="button" class="btn btn btn-danger"> Deletar </a>                   
                </td>
            </tr>
        }
    </tbody>

</table>
