@model IEnumerable<WebInfos.Model.TbDepartamento>

@{
    ViewData["Title"] = "Departamento";
}

<h1 class="text-center"> Departamentos </h1>

<p>
    <a type="button" class="btn btn-primary btn-sm" asp-action="Criar">Registrar</a>
</p>

<hr/>

<table id="imagem" class="table table-bordered text-center table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>                   
                    <a asp-action="Editar" asp-route-id="@item.IdDep" type="button" class="btn btn btn-warning"> Editar </a>
                    <a asp-action="Deletar" asp-route-id="@item.IdDep" type="button" class="btn btn btn-danger"> Deletar </a>                   
                </td>
            </tr>
        }
    </tbody>
</table>


<hr/>
<div class="row">
    <div class="col-lg-4">
        <img class="rounded-circle" src="~/imagem/rh.png" width="140" height="140">
        <h3>Recursos Humanos</h3>
        <p>RH é o setor matriz de uma organização. Isso porque, a área é responsável pelo capital humanal da empresa, assumindo atividades de recrutamento, seleção, treinamento, gerenciamento da marca empregadora e a cultura organizacional.</p>
    </div>

    <div class="col-lg-4">

        <img class="rounded-circle" src="~/imagem/ti.png" width="140" height="140">
        <h3>Tecnologia da informação</h3>
        <p>conjunto de todas as atividades e soluções providas por recursos de computação que visam a produção, o armazenamento, a transmissão, o acesso, a segurança e o uso das informações.</p>
    </div>

    <div class="col-lg-4">
        <img class="rounded-circle" src="~/imagem/adm.png" width="140" height="140">
        <h3>Administração</h3>
        <p>A Administração ou Gestão é a ciência social que estuda e sistematiza as práticas usadas para administrar. O termo "administração" significa direção, gerência.</p>
    </div>
</div>


